/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1f1717;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 10px;
    min-height: 60px;
    border-bottom: #dc143c 3px solid;
}

header h1 {
    float: left;
    margin-left: 10px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover {
    color: #dc143c;
}

#hero {
    background: url('img/hero.jpg') no-repeat center center/cover;
    color: #fff;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

#menu {
    padding: 50px 0;
    text-align: center;
}

.menu-item {
    margin-bottom: 30px;
}

.menu-item img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(202, 13, 13, 0.1);
}

.menu-item h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

.menu-item p {
    color: #777;
}

.menu-item .price {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    margin-top: 10px;
    list-style: none;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #dc143c;
}
